body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #1d2a35;
    color: #dddddd;
}

main {
    margin-left: 5px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: #0d1721;
    color: white;
}

#midle, h1 {
    text-align: center;
    margin-top: 20px;
}

.card.card-body {
    width: 300px;
    height: 125px;
    background-color: #0d1721;
}

.custom-carousel {
    width: 800px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-carousel .carousel-control-prev:hover,
.custom-carousel .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#linkk {
    font-size: 70px;
}